# backup and tmp files

~*
*~
*.bak

# hidden files

.*
!.gitignore
_*


*.log
*.DS_Store

# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c

*.exe
*.test

# go tool pprof relative files
*.prof
*.out
profile*.svg
profile*.png

# --> tetra special
*.jex
*.geany
debug
